<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAShareLayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054F99731F7F47C8001C9205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054F998C1F7F47CA001C9205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054F99971F7F47CA001C9205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
