<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AssistiveTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05423FC91F99F2AE003ED44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05423FE21F99F2AE003ED44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05423FED1F99F2AE003ED44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
