<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05EEA5341F5E714C00B6A320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EEA54D1F5E714C00B6A320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05EEA5581F5E714C00B6A320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
